<html>
<head>
  <%- include('partials/meta') %>
  <title><%- title[2]%></title>
</head>
<body>
  <%- include('partials/header') %>
  <div id="top">
    <br><br><br>
    <strong><h1>About Typr</h1></strong>
    <p>Typr is a platform where you can practise your typing skills.</p>
  </div>
<%- include('partials/footer') %>
</body>
</html>