<!-- inside index.html -->
<html>
<head>
  <%- include('partials/meta') %>
  <title><%- title[0]%></title>
</head>
<body>
  <%- include('partials/header') %>
  <div id="top">
    <br><br><br>
    <strong><h1><a href="/">Typr</a></h1></strong>
    
    <p>Test youself or, <br> practice your typing speed.</p>
  </div>
  <button class="button" onclick="window.location.href='/test';">Start Now</button>
  <%- include('partials/footer') %>
</body>
</html>

